In [ ]:
total = 100
print("The total is", total)

The total is 100

In [ ]:
total = total + 99
print("The total is now", total)

The total is now 199

In [ ]:
total -= 1
print("The total is", total)
total *= 4
print("The total is", total)
total /= 2
print("The total is", total)

The total is 198
The total is 792
The total is 396.0

In [ ]:
total = 98.2
count = 5
average = total + count / 2
print("Average is", average)

Average is 100.7

In [ ]:
print (type(False))
print (type(1000))
print (type(100.111))
print (type("Hello"))
print (type(True))
print (type(100 / 5))
print (type(100 // 5))

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'int'>

In [ ]:
print ("ABC" * 10)

ABCABCABCABCABCABCABCABCABCABC

In [ ]:
name = input ("Ã‹nter your name: ")
address = input ("Enter your adderss: ")
contact = input ("Enter your contact details: ")
print ("Details:\n")
print (name)
print (address)
print (contact)
print (len (name))

In [ ]:
age = input ("Enter your age ")
print ("in one year your age will be", age + 1)
#This doesn't work because input function sets value data as string

In [ ]:
value1 = int (input ("Enter first value: "))
value2 = int (input ("Enter second value: "))
print ("Product of two values is", (value1 * value2))

In [1]:
comment = "I would have "thought" you knew better!"
print (comment)

SyntaxError: invalid syntax (2440125605.py, line 1)

In [7]:
print("This text includes characters such as '\' '\"' and \"'\",\n\tThis is a new line that starts with a tab\n\t\tThis new line starts with two tabs")

This text includes characters such as '' '"' and "'",
	This is a new line that starts with a tab
		This new line starts with two tabs

In [9]:
print("\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ \nHello there!\n\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
")

\\\\\\\\\\\\\\\\\\\\\\\\\\\
Hello there!
\\\\\\\\\\\\\\\\\\\\\\\\\\

In [10]:
print("""This text spans three lines,
and includes both single ('),
and double quotes (").
""")

This text spans three lines,
and includes both single ('),
and double quotes (").

In [14]:
surname = "Palin"
initial = surname[0]
third = surname[2]
print (third)

l

In [13]:
tenth = surname[10]
print (tenth)

IndexError: string index out of range

In [17]:
surname = "Palin"
last = surname[-2]
print (last)

i

In [19]:
surname = "Palin"
middle = surname[1:]
print (middle)

alin

In [20]:
surname = "Palin"
a = surname[:len (surname) - 1]
print (a)

Pali

In [21]:
primes = [2, 3, 5, 7, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]
print ( primes[:4])

[2, 3, 5, 7]

In [25]:
names = ["Tim", "Bill", "Graeme"]
names[2:2] = ["Harry", "Putter"]
print ( names)

['Tim', 'Bill', 'Harry', 'Putter', 'Graeme']

In [26]:
nums = [1,2,3] * 5
nums

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]